<%= form_for(account) do |f| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.collection_select :kind, Account.kinds.keys.map{|x| [x.titleize, x]}, :second, :first %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.number_field :code %>
  </div>

  <div class="field">
    <%= f.label :order %>
    <%= f.number_field :order %>
  </div>

  <div class="field">
    <%= f.label :initial_balance %>
    <%= f.text_field :initial_balance %>
  </div>

  <div class="field">
    <%= f.label :active %>
    <%= f.check_box :active %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.hidden_field :created_by_id, value: User.first.id %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
